<<<<<<< HEAD
#divid{
    height: 100px;
    width: 100px;
    padding: 10px;
    background-color: bisque;
=======
#divid{
    height: 100px;
    width: 100px;
    padding: 10px;
    background-color: bisque;
>>>>>>> 31b8da26a3aa03a1e01ec7330c402ef9db2800da
}